<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--等价于dao接口的实现：namespace为该xml实现的接口 -->
	<mapper namespace="com.iflysse.onlinemusic.dao.UserDao">
	
	<resultMap type="User" id="UserResultMap">
		<id property="id" column="id" />
		<result property="nname" column="nname" />
		<result property="email" column="email" />
		<result property="password" column="password" />
	</resultMap>
	
	<select id="getUser" resultMap="UserResultMap">
		<![CDATA[ 
            select * from user where email=#{email} and password=#{password}
        ]]>
	</select>
	
	<insert id="add" parameterType="User">
		<![CDATA[ 
            insert into user(nname,email,password)values(#{nname},#{email},#{password})
        ]]>
	</insert>
</mapper>