@CHARSET "UTF-8";

.center{
	margin: 0px auto;
	width: 800px;
}

.center form{
	margin-top: 100px;
}

.center div,span{
	margin-top: 50px;
	margin-right: 20px;
}

.center input{
	margin-left: 20px;
	width: 200px;
}
#btnLogin{
	height: 30px;
	margin-left:50px;
}