<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
 	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 属性文件 -->
	<properties resource="jdbc.properties"></properties>
	
	<!-- 类型别名 -->
	<typeAliases>
		<typeAlias alias="User" type="com.iflysse.onlinemusic.po.User" />
		<typeAlias alias="Song" type="com.iflysse.onlinemusic.po.Song" />
		<typeAlias alias="Collect" type="com.iflysse.onlinemusic.po.Collect" />
	</typeAliases>
	<!-- 列出映射文件 -->
	<mappers>
		<mapper resource="com/iflysse/onlinemusic/dao/mapper/UserMapper.xml" />
		<mapper resource="com/iflysse/onlinemusic/dao/mapper/SongMapper.xml" />
		<mapper resource="com/iflysse/onlinemusic/dao/mapper/CollectMapper.xml" />
	</mappers>
</configuration>





